@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --shadow: 0.5rem 0.5rem 2rem rgba(133, 133, 133, 0.2);
  --search-box-shadow: 0.5rem 0.5rem 2rem rgba(181, 181, 181, 0.2);
  --border: 0.1rem solid rgba(190, 190, 190, 0.5);
  --shadow: 0.5rem 0.5rem 2rem rgba(133, 133, 133, 0.25);
  --primary: #14c898;
  --text: rgb(12, 12, 70);
 }
* {
  user-select: none;
  font-family: roboto;
  
}
.dashboard {
  display: flex;
}

.sidebar {
  justify-content: center;
  align-content: center;
  width: px;
  background-color: #f1f1f1;
  height: 125vh;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px; 
  box-shadow: var(--shadow);
}

@media (max-width: 900px) {
  .sidebar {
    all: unset;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    z-index: 200;
    background-color: #f1f1f1;
    border-top-left-radius: 40px;
  border-top-right-radius: 40px; 
  box-shadow: var(--shadow);
  }
}
ul {

  list-style-type: none;
}

li {
  display: flex;
  flex-direction: column;
  align-self: center;
  cursor: pointer;
}
li i {
  border-radius: 50%;
  width: 33px;
  align-self: center;
}
li span {
  padding: 10px;
  font-size: 1.5rem;
  align-self: center;

}
@media (max-width: 900px) {
  ul {
    display: flex;
    list-style-type: none;
  }
  
  li {
    
    align-self: center;
    padding: 20px ;
    cursor: pointer;
  }
  li img {
    border-radius: 50%;
    width: 30px;
    align-self: center;
  }
  li span {
    padding: 15px;
    font-size: 1.5rem;
    align-self: center;
  
  }
}
.option-content {
  display: none;
}

.content {
  justify-content: center;
  align-content: center;
  flex: 1;
  padding: 0 200px;
}
@media (max-width: 900px) {
  .content {
    padding: 0;
    margin: 10px;
  }
}

.content .welcome-user,
.content .ad-section
 {
  margin: 2px;

}
.content .welcome-user img,
.content .ad-section img
{
  border-radius: 100px;
  height: 50px;
  width: 50px;
}
.content .ad-section img {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  padding: 15px;


}
.content .welcome-user .user-dp-name,
.content .ad-section .ad-logo-title
{
  display: flex;

}

.content .welcome-user .user-name,
.content .ad-section .ad-title
{
   display: flex;
   flex-direction: column;
}
.content .welcome-user .user-name span,
.content .ad-section .ad-title span
{
   font-size: 1rem;
   font-weight: bolder;
   padding-top: 10px;
}
.content .ad-section .ad-title span {
  color: var(--text);
}
.content .ad-section .ad-title .requirement {
  color: #655c5c;
}

.account-details {
  width: 60vw;
  background-color: var(--primary);
  height: 250px;
  border-radius: 40px;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .account-details {
    width: 95vw;
    
  }
}
@media (max-width: 50px) {
  .account-details {
    width: 60vw;
    height: 100px
    
  }
}
.account-details .details {
  padding: 20px 20px 20px 35px;
  font-size: 1rem;
  color: rgb(221, 223, 225);
}
.account-details .details .trans-history {
  float: right;
}
.account-details .amount {
  padding: 20px 20px 20px 30px;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.actions {
  margin: 15px ;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-size: 1rem;
}

.actions .actions-add-monebby,
.actions .actions-transfer,
.actions .actions-withdraw,
.actions .actions-option

{
  display: flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;


  padding-right: 10%;
}
.actions .sign {
  width: 60px;
  height: 50px;
  color: var(--primary);
  background-color: #fff;
  font: 2rem bolder monospace;
  text-align: center;
  border-radius: 15px;
  padding-top: 15px;

}

.actions .text {
  align-self: center;
  margin-top: 10px;
  font-size: 1.2rem;
  
}

@media (max-width: 800px) {
  .actions .text {
    font-size: 1rem;
  }
}
.content .ad-section {
  padding-right: 20px;
  margin: 7px;
  border-radius: 10px;
  height: 70px;
  display:  inline-flex;
  box-shadow: var(--shadow);  
}
@media (min-width: 1000px){
  .content .ad-section {
    width: 57vw;
  }

}
@media (max-width: 900px) {
   .content .ad-section {
    width: 88vw;
  }
}
.content .ad-section  .cancel {
  font: 1rem monospace;
  color: #908888;
  padding-left: 400px;
  padding-top: 25px;

}
@media (min-width: 1000px) { 
.content .ad-section  .cancel {
  font: 1rem monospace;
  padding-left: 600px;
}
}
.content .options h2 {
  font: 1rem arial bold;

}
.content .options .option {

}
.content .options .option .sign {
  width: 50px;
  height: 50px;
  background-color: #b3feea;
  border-radius: 100px;
  font: bolder monospace;
  align-self: center;
  color: green;
}
.content .options .option .text{
  color: green;
  font-size: 1rem;
  margin-bottom: 10px;
}